<template>
    <div class="bg-white shadow-sm" style="height: 41px;width:100%;position:fixed;z-index:3">
      <div class="d-flex container">
        <nav class="d-flex">
          <div class="nav-link">
            <!-- <a href="/">Home</a> -->
            <nuxt-link to="/">Home</nuxt-link>
          </div>
          <div class="nav-link">
            <!-- <a href="/product">Product</a> -->
            <nuxt-link to="/product">Product</nuxt-link>
          </div>
          <div class="nav-link">
            <!-- <a href="/">Team</a> -->
            <nuxt-link to="/">Team</nuxt-link>
          </div>
        </nav>


        <div style="width: 40%"></div>
        <div style="width: 30%" class="d-flex justify-content-end">
          <nuxt-link role="button" class="btn btn-teal btn-nav rounded-pill" to="/auth/login">Login</nuxt-link>
          <nuxt-link role="button" class="btn btn-teal btn-nav rounded-pill ml-3" to="/auth/signup">Sign Up</nuxt-link>
          <a style="display:none" role="button" class="btn btn-teal btn-nav rounded-pill ml-3" href="/logout">Logout</a>
        </div>
      </div>

    </div>
</template>

<script>
export default {}
</script>

<style scoped>
  nav a{
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
  }
  nav a:hover{
    color: #008080;
    text-decoration: none;
  }
  .nav-link{
    border-bottom: transparent solid 2px;
  }
  .nav-link:hover{
    border-color: #008080;
  }
  .btn-teal{
    background-color: #008080;
    color: white;
    margin-top: 5px;
    /* padding-top: -5px; */
    font-size: 10px;
  }
  .btn-teal:hover{
    background-color: #11bfbf;
  }
  .btn-nav {
    height: 30px;
    width: 70px;
  }
</style>
