<template>
  <div>
    <a href="#">
      <div class="card card-cascade narrower shadow fade-in" style="width: 14rem; height: 16rem">

        <div style="position:relative;margin-top: -20px" class="mx-auto img-header">

          <div class="view view-cascade overlay">
            <img class="card-img-top1 image rounded shadow-lg" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
              alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- <img class="image rounded" src="~/assets/images/home_content_1.jpg" /> -->
          <div class="img-shadow rounded-bottom"></div>
          <h3 id="title" class="ml-3">Lombok</h3>
        </div>

        <div class="card-body card-body-cascade py-1 px-1" style="margin-top: 40px">
          <h5 class="mt-2 ml-2" id="price"> Rp <span>400.000,00</span></h5>
          <p class="date ml-2">5 june - 7 june 2020</p>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.image{
  height: 150px;
  width: 13rem;
}
.img-shadow{
  background-image: linear-gradient( rgba(0,0,0,0), black);
  height: 60px;
  width: 13rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #f1fbfc;
}
#price {
  color: gray;
}
#price span{
  color: #f39c12;
}
.date {
  color: gray;
}

a:hover {
  text-decoration: none
}

a:hover .img-header {
  margin-top: -10px;
  animation: 1s card-hover;
}

@keyframes appear {
  25% {
    margin-top:-15px;
  }
  50 {
    margin-top:-10px;
  }
}

.fade-in {
  animation: 1s appear;
}


@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
