<template>
  <div style="height:1080px;">
    <Navigation />

    <!-- product navigation -->
    <div class="bg-white shadow-sm pt-2" style="margin-top:41px;height: 41px; width:100%; position:fixed; z-index:3">
      <div class="container">
        <nuxt-link class="link" to="">International</nuxt-link>
        <span style=" color: #008080;"class="ml-2 mr-2">|</span>
        <nuxt-link class="link" to="">Domestic</nuxt-link>
      </div>
    </div>

    <!-- list product card -->
    <div class="container d-flex justify-content-between" style="padding-top:140px;">
      <Card />
      <Card class="ml-3"/>
      <Card class="ml-3"/>
      <Card class="ml-3"/>
    </div>

    <div class="container d-flex justify-content-between" style="padding-top:70px;">
      <Card />
    </div>

  </div>
</template>

<script>
import Navigation from "~/components/Navigation"
import Card       from "~/components/ProductCard"

export default {
  components: {
    Navigation,
    Card
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

body{
    background: #f1fbfc;
    font-family: 'Balsamiq Sans', cursive;
}
</style>

<style scoped>
  .link{
    text-decoration: none;
    color: gray;
  }
  .link:hover{
    color: #008080;
  }
</style>
