<template>
  <div>
    <div class="container d-flex justify-content-center">
        <div class="card content shadow rounded-lg">
            <h2 class="text-teal text-center mt-3">Create Account</h2>
            <div class="form-container" style="margin-top: 30px;">
                <form action="/signup" method="POST">
                    <div style="position: relative;">
                        <input class="form-control mt-3 pl-5" style="background-color: #f1fbfc; "type="text" name="name" placeholder="Name">
                        <div style="position: absolute; top: 10px; left: 20px;">
                            <ion-icon name="person-outline"></ion-icon>
                        </div>
                    </div>

                    <div style="position: relative;">
                        <input class="form-control mt-2 pl-5" style="background-color: #f1fbfc; " type="text" name="email" placeholder="Email">
                        <div style="position: absolute; top: 10px; left: 20px;">
                            <ion-icon name="mail-outline"></ion-icon>
                        </div>
                    </div>

                    <div style="position: relative;">
                        <input class="form-control mt-2 pl-5" style="background-color: #f1fbfc; " type="password" name="password" placeholder="Password">
                        <div style="position: absolute; top: 10px; left: 20px;">
                            <ion-icon name="key-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-teal mt-5 mb-5 w-50 rounded-pill">signup</button>
                    </div>

                </form>

                <div>
                    <p style="color:gray">Have an Acount? <nuxt-link class="text-teal" to="/auth/login">login</nuxt-link></p>
                </div>
            </div>

        </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

body{
    background: #f1fbfc;
    font-family: 'Balsamiq Sans', cursive;
}
</style>
<style scoped>
.content{
    margin-top: 80px;
    width: 50%;
}
.text-teal{
    color: #008080;
}
h2{
    font-weight: bold;
}
.btn-teal{
    background-color: #008080;
    color: white;
    font-weight: bold;
}
.btn-teal:hover{
    color: white;
}
.form-container{
    margin: 0px 15%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #008080;
}
</style>
