<template>
  <div>
    <!-- header -->
    <Header />
  </div>
</template>

<script>
import Header from "~/components/backend/Header"

export default {
  components: {
    Header
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

body{
    background: #f1fbfc;
    font-family: 'Balsamiq Sans', cursive;
}
</style>


