<template>
  <div>
    <!-- header -->
    <Header />

    <div class="container">
      <FilterProduct/>

      <!-- list product -->
      <div class="card mt-3 shadow">

        <div class="card-body">

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>

          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link link" href="#">1</a></li>
              <li class="page-item"><a class="page-link link" href="#">2</a></li>
              <li class="page-item"><a class="page-link link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>

      </div>

    </div> <!-- end container -->

  </div>
</template>

<script>
import Header from "~/components/backend/Header"
import FilterProduct from "~/components/backend/FilterProduct"

export default {
  components: {
    Header,
    FilterProduct
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

body{
    background: #f1fbfc;
    font-family: 'Balsamiq Sans', cursive;
}
</style>

<style scoped>
  .link{
    color : gray;
  }
  .link:hover{
    color: #008080;
    text-decoration: none;
  }
</style>
