<template>
  <div>
    <Header/>

    <div class="container d-flex">

      <div class="w-50 mr-1">


        <div class="card mt-3 shadow">
          <div class="card-header bg-white" v-b-toggle.collapse-1 > Title Web </div>
          <b-collapse id="collapse-1" class="mt-2">
            <div class="card-body">
              <input type="text" style="background-color:#f1fbfc" class="form-control" value="gsgsg sdasdad" disabled>
              <div class="mt-3 d-flex justify-content-end">
                <button class="btn btn-primary mr-3">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </div>
            </div>
          </b-collapse>
        </div>

        <div class="card mt-3 shadow">
          <div class="card-header bg-white" v-b-toggle.collapse-2 > Email </div>
          <b-collapse id="collapse-2" class="mt-2">
            <div class="card-body">
              <input type="text" style="background-color:#f1fbfc" class="form-control" value="Example@email.com" disabled>
              <div class="mt-3 d-flex justify-content-end">
                <button class="btn btn-primary mr-3">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </div>
            </div>
          </b-collapse>
        </div>


      </div>
      <div class="w-50 ml-1">
        <div class="card mt-3 shadow">

          <div class="card-header bg-white">
            <p>New Setting</p>
          </div>

          <div class="card-body">
            <div class="form-group d-flex">
              <p style="width:50px" class="mt-2">Key :</p>
              <input class="form-control" style="background-color:#f1fbfc" type="text" name="key">
            </div>

            <div class="form-group">

            </div>

            <div class="form-group">
              <label>Content</label>
              <textarea style="background-color:#f1fbfc" class="form-control"></textarea>
            </div>

            <div class="mt-3 d-flex justify-content-end">
              <button class="btn btn-primary mr-3">Save</button>
              <button class="btn btn-danger">Cancel</button>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</template>

<script>
import Header from "~/components/backend/Header"

export default {
  components: {
    Header
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

body{
    background: #f1fbfc;
    font-family: 'Balsamiq Sans', cursive;
}
</style>
