<template>
  <div class="body" >

    <Navigation />

    <div style="height: 500px; padding-top: 30px; background-color: rgba(0, 0, 0, 0.2);">
      <div class="container">
        <p
          id="slogan-1"

        >Lets</p>

        <p
          id="slogan-2"
        >Moving...!</p>
      </div>

    </div>

    <div style="height: 500px;width: 100%; background-color: #f1fbfc;">
      <div class="d-flex justify-content-center" >
        <div style="position: relative;">
          <img class="img-content rounded-lg image" src="~/assets/images/home_content_1.jpg" alt="">
          <div class="img-shadow rounded-bottom image"></div>
          <h5 style="position: absolute;bottom: 0; color: white; margin-left: 20px;">title</h5>
        </div>
        <div style="position: relative;">
          <img class="img-content ml-1 mr-1 rounded-lg image" src="~/assets/images/home_content_2.jpg" alt="">
          <div class="img-shadow ml-1 mr-1 rounded-bottom image"></div>
          <h5 style="position: absolute;bottom: 0; color: white; margin-left: 20px;">title</h5>
        </div>
        <div style="position: relative;">
          <img class="img-content rounded-lg image" src="~/assets/images/home_content_3.jpg" alt="">
          <div class="img-shadow rounded-bottom image"></div>
          <h5 style="position: absolute;bottom: 0; color: white; margin-left: 20px;">title</h5>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Navigation from "~/components/Navigation"

export default {
  components: {
    Navigation
  }
}
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

  .body {
    /* background-image: url("~/assets/images/home_background.jpg"); */
    background-color: blue;
    width: 100%;
    height: 500px;
    /* background-size: cover;
    background-attachment: fixed; */
    font-family: 'Balsamiq Sans', cursive;
  }

  #slogan-1{
    font-size: 80px;
    color : white;
    margin-left: 70px;
  }

  #slogan-2{
    margin-top: -20px;
    margin-left: 140px;
    color: white;
    font-size: 100px;
  }

  .img-content{
    height: 250px;
    width: 250px;
    margin-top: -150px;
  }
  .img-shadow{
    background-image: linear-gradient( rgba(0,0,0,0), black);
    height: 150px;
    width: 250px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .image {
    animation: 1s appear;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
  }
</style>
