<template>
  <div>
    <div class="card mt-3 shadow">
      <div class="card-header bg-white" v-b-toggle.collapse-1 > Filter Product </div>
      <b-collapse id="collapse-1" class="mt-2">
        <div class=" card-body" >
          <form class="d-flex w-100">

            <div class="form-group d-flex">
              <label class="mt-2 mr-2">Status</label>
              <select class="form-control ml-2">
                <option>--- Chose Status ---</option>
                <option>Publish</option>
                <option>Draft</option>
              </select>
            </div>

            <div class="form-group d-flex">
              <label class="mt-2 ml-5 mr-2">Region</label>
              <select class="form-control ml-2">
                <option>--- Chose Status ---</option>
                <option>Yogyakarta</option>
                <option>Jakarta</option>
              </select>
            </div>

            <div style="margin-left: 30%">
              <div style="position:relative; height: 70px; margin-top: -15px;">
                <button type="submit" class="btn btn-teal btn-nav"> Filter </button>
                <nuxt-link role="button" to="/backend/product" style="position:absolute; bottom:0px; left:0px" class="btn btn-teal btn-nav mt-2"> Clear </nuxt-link>
              </div>
            </div>

          </form>
        </div>
      </b-collapse>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.btn-nav {
  height: 30px;
  width: 70px;
}
.btn-teal{
    background-color: #008080;
    color: white;
    margin-top: 5px;
    /* padding-top: -5px; */
    font-size: 10px;
  }
  .btn-teal:hover{
    background-color: #11bfbf;
  }
</style>
