<template>
  <div>
    <div style="height:100px">
      <div class="container d-flex justify-content-end">
        <div class="name-header d-flex justify-content-end">
          <p>Chandra Agung Rizky</p>
          <p class="ml-2 mr-2">|</p>
        </div>
        <div>
          <button class="btn btn-teal btn-nav rounded-pill mt-2"> Logout </button>
        </div>
      </div>
    </div>
    <!-- navigation -->
    <div  class="bg-white shadow pt-2" style="height: 41px;">
      <div class="d-flex container">
        <nuxt-link class="link ml-3" to="/backend/">home</nuxt-link>
        <p style=" color: #008080;" class="ml-3 mr-3">|</p>
        <nuxt-link class="link" to="/backend/product">Product</nuxt-link>
        <p style=" color: #008080;" class="ml-3 mr-3">|</p>
        <nuxt-link class="link" to="/backend/setting">Setting</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
  .name-header{
    margin-top: 12px;
    color: gray
  }
  .link{
    color : gray;
  }
  .link:hover{
    color: #008080;
    text-decoration: none;
  }
  .btn-teal{
    background-color: #008080;
    color: white;
    margin-top: 5px;
    /* padding-top: -5px; */
    font-size: 10px;
  }
  .btn-teal:hover{
    background-color: #11bfbf;
  }
  .btn-nav {
    height: 30px;
    width: 70px;
  }
</style>
